//vvvvvvvvvvvvvvvvvvvvvvv GENERAL USE vvvvvvvvvvvvvvvvvvvvvvv
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

main{
    min-height: 91vh;
}

:root{
    --color-primary: #00d100;
    --color-ranita: #85dfab;
    --c-yellow: #f1c411;
    --ch-yellow: #f29c11;
    --c-orange: #e67f22;
    --ch-orange: #d45300;
    --c-red: #e94c3d;
    --ch-red: #bf3a2b;
    --c-blue: #3399db;
    --ch-blue: #297fb8;
    --c-green: #2ccb71;
    --ch-green: #25ae60;
    --c-grey: #96a5a8;
    --ch-grey: #7e8c8d;
}

html, body {  
    margin:0px!important;
    height:100%!important;
} 

.bg-ranita{
    background-color: var(--color-primary)!important;
}

.bg-ranita-background{
    background-color: #f0f5f0!important;
}

.bg-transparent{
    background-color: transparent!important;
}

.bg-red{
    background-color: var(--c-red)!important;
}

.c-white{
    color: white;
}

.c-yellow{
    color: var(--c-yellow);
}

.ch-yellow{
    color: var(--ch-yellow);
}

.c-orange{
    color: var(--c-orange);
}

.ch-orange{
    color: var(--ch-orange);
}

.c-red{
    color: var(--c-red);
}

.ch-red{
    color: var(--ch-red);
}

.c-blue{
    color: var(--c-blue);
}

.ch-blue{
    color: var(--c-blue);
}

.c-green{
    color: var(--c-green);
}

.ch-green{
    color: var(--ch-green);
}

.c-grey{
    color: var(--c-grey)!important;
}

.ch-grey{
    color: var(--ch-grey)!important;
}
//^^^^^^^^^^^^^^^^^^^^^^^ GENERAL USE ^^^^^^^^^^^^^^^^^^^^^^^

//vvvvvvvvvvvvvvvvvvvvvvv LOGIN vvvvvvvvvvvvvvvvvvvvvvv
.icon{
    width: 2.5em!important;
    display: block!important;
    margin: 0 auto!important;
}

.img-login{
    max-width: 50%!important;
}

.img-login-background{
    margin: 0 auto;
    margin-top: -10em;
    min-height: 110vh;
    max-width: 140%;
    position: fixed;
    z-index: 0;
    display: flex!important;
}

#card-login{
    background-color: transparent!important;
    border: none;
}

.contiener-blur{
    background-color: transparent!important;
    backdrop-filter: blur(5px);
    border: 1px solid white!important;
}

//^^^^^^^^^^^^^^^^^^^^^^^ LOGIN ^^^^^^^^^^^^^^^^^^^^^^^

.access{
    color: white;
    text-decoration: none;
}

.access-1{
    background-color: var(--c-green);
    border: 1px solid var(--ch-green);
}

.access-2{
    background-color: var(--c-blue);
    border: 1px solid var(--ch-blue);
}

.access-3{
    background-color: var(--c-red);
    border: 1px solid var(--ch-red);
}

.access-4{
    background-color: var(--c-grey);
    border: 1px solid var(--ch-grey);
}

//vvvvvvvvvvvvvvvvvvvvvvv FOOTER vvvvvvvvvvvvvvvvvvvvvvv
.container-footer{
    text-align: center!important;
    width: 100%!important;
    position: fixed;
    margin-top: -2em;
}
//^^^^^^^^^^^^^^^^^^^^^^^ FOOTER ^^^^^^^^^^^^^^^^^^^^^^^